## 8、数组的维度

In [1]:
import numpy as np

In [3]:
#将数组改变为指定维度
#先创建一个数组，这里创建一维以上的数组都可以
a = np.arange(12)

In [4]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [7]:
#改变数组的形状，后面的参数是写维度，只要给的数组的数量管够，都可以改变（原来是多少维的都可以变换）
a1 = np.reshape(a, (2,2,3))

In [8]:
a1

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [14]:
#如果不知道数组中原来有多少个元素，就用-1代替，-1放在行列都可以
a2 = np.reshape(a, (2, -1))

In [15]:
a2

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

In [16]:
#给将数组原数据变为一行，同时将维度变为二维
a3 = a[np.newaxis, :]
#另外一种方法：a3 = np.expand_dims(a, axis = 0)

In [17]:
a3

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]])

In [18]:
#将数组原数据变为一列，同时将维度变为二维
#注意，np.newaxis == None，所以换为None也是一样的
a4 = a[:, None]
#另外一种方法：a4 = np.expand_dims(a, axis = 1)

In [19]:
a4

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11]])

## 9、数组合并

In [22]:
#当两个数组的列相同的时候
#先创建两个列相同的数组
b1 = np.arange(6).reshape(2,3)
b2 = np.random.randint(10,20,size = (4,3))

In [23]:
b1

array([[0, 1, 2],
       [3, 4, 5]])

In [24]:
b2

array([[18, 19, 10],
       [13, 18, 18],
       [10, 14, 13],
       [15, 13, 10]])

In [21]:
#列合并_方法一
np.vstack([b1, b2])

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [11, 13, 13],
       [14, 14, 16],
       [10, 13, 11],
       [18, 11, 13]])

In [25]:
#列合并_方法二
np.row_stack([b1, b2])

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [18, 19, 10],
       [13, 18, 18],
       [10, 14, 13],
       [15, 13, 10]])

In [27]:
#列合并_方法三
#注意，这里axis一般默认为0，即默认是列相同的数组合并
np.concatenate([b1, b2], axis = 0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [18, 19, 10],
       [13, 18, 18],
       [10, 14, 13],
       [15, 13, 10]])

In [29]:
#当两个数组的行相同的时候
#先创建两个行相同的数组
c1 = np.arange(6).reshape(3,2)
c2 = np.random.randint(10,20,size = (3,4))

In [30]:
c1

array([[0, 1],
       [2, 3],
       [4, 5]])

In [31]:
c2

array([[13, 17, 16, 16],
       [15, 10, 12, 15],
       [14, 12, 11, 19]])

In [32]:
#行合并_方法一
np.hstack([c1, c2])

array([[ 0,  1, 13, 17, 16, 16],
       [ 2,  3, 15, 10, 12, 15],
       [ 4,  5, 14, 12, 11, 19]])

In [33]:
#行合并_方法二
np.column_stack([c1, c2])

array([[ 0,  1, 13, 17, 16, 16],
       [ 2,  3, 15, 10, 12, 15],
       [ 4,  5, 14, 12, 11, 19]])

In [34]:
#行合并_方法三
np.concatenate([c1, c2], axis = 1)

array([[ 0,  1, 13, 17, 16, 16],
       [ 2,  3, 15, 10, 12, 15],
       [ 4,  5, 14, 12, 11, 19]])

## 10、数组的索引

In [35]:
#布尔索引，即可以把布尔条件写入[]中的
#先创建一个一维数组
d1 = np.random.randint(10,20,size = (50))

In [36]:
d1

array([19, 10, 12, 19, 15, 12, 15, 12, 18, 14, 18, 18, 19, 11, 18, 11, 19,
       17, 10, 12, 11, 19, 12, 11, 19, 11, 16, 17, 11, 13, 10, 16, 19, 17,
       10, 17, 19, 14, 10, 16, 17, 19, 13, 17, 15, 12, 14, 15, 11, 11])

In [37]:
#返回数组中大于11的数字的布尔值（大于就是true否则就是false）
d1 > 11

array([ True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
       False,  True, False,  True,  True, False,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False])

In [38]:
#返回数组中大于15的数字的数组
d1[d1 > 15]

array([19, 19, 18, 18, 18, 19, 18, 19, 17, 19, 19, 16, 17, 16, 19, 17, 17,
       19, 16, 17, 19, 17])

In [41]:
#对数组中符合条件的数据进行操作
#这里是指对所有的大于等于2的数字++2
#等价于d1[d1 >= 2] += 2，但是这里返回的是一个新的数组
d1[d1 >= 2] ++ 2

array([21, 12, 14, 21, 17, 14, 17, 14, 20, 16, 20, 20, 21, 13, 20, 13, 21,
       19, 12, 14, 13, 21, 14, 13, 21, 13, 18, 19, 13, 15, 12, 18, 21, 19,
       12, 19, 21, 16, 12, 18, 19, 21, 15, 19, 17, 14, 16, 17, 13, 13])

In [42]:
#但是这里会改变原来的数组
d1[d1 <= 15] = 0

In [43]:
d1

array([19,  0,  0, 19,  0,  0,  0,  0, 18,  0, 18, 18, 19,  0, 18,  0, 19,
       17,  0,  0,  0, 19,  0,  0, 19,  0, 16, 17,  0,  0,  0, 16, 19, 17,
        0, 17, 19,  0,  0, 16, 17, 19,  0, 17,  0,  0,  0,  0,  0,  0])

In [45]:
#再创建一个二维数组
d2 = np.arange(24).reshape(4,6)

In [48]:
d2

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [47]:
#这里返回的是一维数组
d2[d2 > 15]

array([16, 17, 18, 19, 20, 21, 22, 23])

In [54]:
#布尔数组的组合查询
#先创建一个新的数组
e1 = np.arange(10)

In [55]:
e1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [58]:
#写条件
condition = (x % 2 == 0) & (x > 2) & (x % 3 == 0)

In [59]:
e1[condition]

array([6])

In [60]:
#基础索引
#先创建一个一维数组
f1 = np.arange(12)

In [62]:
#-1是数组中的最后一个，继续减一表示从后往前数
f1[-1]

11

In [63]:
#从第零个到第一个
f1[0:2]

array([0, 1])

In [64]:
#从第一个到最后第二个
f1[0:-2]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [65]:
#从-3到最后一个
f1[-3:]

array([ 9, 10, 11])

In [66]:
#从第一个到倒数第4个
f1[:-4]

array([0, 1, 2, 3, 4, 5, 6, 7])

In [67]:
#先创建一个二维数组
f2 = np.arange(20).reshape(4,5)

In [68]:
f2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [69]:
#正常坐标筛选
f2[1,1]

6

In [71]:
#只写一个数字表示输出第多少行（这里也可以用-1的索引）
#也可以这样写f2[0:]，表示输出从第多少行到第多少行
#也可以用这种写法f2[:-2]，表示筛选出除了后两行的数据
f2[0]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [73]:
#通过指定位置改变数组的值
#规则类似
f3 = np.arange(20).reshape(4,5)
f3

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [75]:
f3[1:3, 1:3] = 666
f3

array([[  0,   1,   2,   3,   4],
       [  5, 666, 666,   8,   9],
       [ 10, 666, 666,  13,  14],
       [ 15,  16,  17,  18,  19]])

In [77]:
#神奇索引，即可以传入数组进入索引中,传入数组的数字能够对应的到原数组的索引
g1 = np.arange(24).reshape(4,6)
g1

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [79]:
#获取的是（0，0）（1，1）（2，2）
g1[[0, 1, 2], [0, 1, 2]]

array([ 0,  7, 14])

In [80]:
#获取的是第0行和第2行，这里列可以省略
#即等价于g1[[0, 2], :]
g1[[0, 2]]

array([[ 0,  1,  2,  3,  4,  5],
       [12, 13, 14, 15, 16, 17]])

In [81]:
#获取的是第0列和第2列，这里行不可以省略
g1[:, [0, 2]]

array([[ 0,  2],
       [ 6,  8],
       [12, 14],
       [18, 20]])